.div-li {
  display: inline-grid;
}
.input-r {
  margin: 0.5em;
  margin-left: 0;
  padding: 1em;
  display: block;
  overflow: scroll;
}
.label-r {
  margin: 0.1em;
  padding: 0.5em;
  display: block;
}
.btn-add {
  width: 50%;
  padding: 1em;
  float: inline-end;
  margin: 1em;
}
.note {
  width: 90%;
  padding: 11px;
  padding-left: 1px;
  text-align: justify;
  max-height: 111px;
  overflow: auto;
  line-height: 1.5em;
}

.form-control.is-invalid {
  border-color: #dc3545;
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
}

.error-message {
  color: #dc3545;
  font-size: 0.875rem;
  margin-top: 0.25rem;
  display: block;
}
